Source: gazebo
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Thomas Moulard <thomas.moulard@gmail.com>
Section: science
Priority: extra
Build-Depends: debhelper (>= 9),
	       pkg-kde-tools (>= 0.6),
               cmake,
	       pkg-config,
               doxygen,
               doxygen-latex,
	       libtinyxml-dev,
	       libtbb-dev,
	       libxml2-dev,
	       libqt4-dev,
	       libprotoc-dev,
	       libfreeimage-dev,
	       libprotobuf-dev,
	       protobuf-compiler,
	       libboost-all-dev,
	       freeglut3-dev,
	       libogre-1.8-dev,
	       libtar-dev,
	       libcurl4-openssl-dev,
	       libcegui-mk2-dev,
	       libgts-dev,
	       libgoogle-perftools-dev,
	       libode-dev
Standards-Version: 3.9.4
Vcs-Browser: http://git.debian.org/?p=debian-science/packages/gazebo.git
Vcs-Git: git://git.debian.org/debian-science/packages/gazebo.git
Homepage: http://gazebosim.org/

Package: gazebo-common
Architecture: all
Depends: ttf-dejavu-core, ${misc:Depends}
Multi-Arch: foreign
Description: Open Source Robotics Simulator - Shared files
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains shared files such as 3d models, worlds and
 robots.

Package: gazebo
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
	 libgazebo1 (= ${binary:Version}),
	 gazebo-common (= ${source:Version})
Suggests: gazebo-doc
Multi-Arch: foreign
Description: Open Source Robotics Simulator
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).

Package: libgazebo1
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Open Source Robotics Simulator - shared library
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package gathers shared libraries used

Package: libgazebo-dev
Architecture: any
Section: libdevel
Depends: libtbb-dev,
	 libxml2-dev,
	 libqt4-dev,
	 libprotoc-dev,
	 libfreeimage-dev,
	 libprotobuf-dev,
	 libboost-all-dev,
	 freeglut3-dev,
	 libogre-1.8-dev,
	 libtar-dev,
	 libcurl4-openssl-dev,
	 libcegui-mk2-dev,
	 libgts-dev,
	 libode-dev,
	 libgazebo1 (= ${binary:Version}),
	 gazebo-common (= ${source:Version}),
	 ${misc:Depends}
Multi-Arch: same
Description: Open Source Robotics Simulator - Development Files
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains development files (headers, shared library
 symbolic link and pkg-config file).

Package: gazebo-plugin-base
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
	 gazebo (= ${binary:Version})
Enhances: gazebo
Multi-Arch: foreign
Description: Open Source Robotics Simulator - base plug-ins
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package gathers built-in plugins.

Package: gazebo-dbg
Architecture: any
Section: debug
Depends: gazebo (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: foreign
Description: Open Source Robotics Simulator - Debugging Symbols
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains the debugging symbols.

Package: gazebo-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Open Source Robotics Simulator - Documentation
 Gazebo is a multi-robot simulator for outdoor environments. Like
 Stage (part of the Player project), it is capable of simulating a
 population of robots, sensors and objects, but does so in a
 three-dimensional world. It generates both realistic sensor feedback
 and physically plausible interactions between objects (it includes an
 accurate simulation of rigid-body physics).
 .
 This package contains the program documentation.
