#!/usr/bin/make -f

export DH_VERBOSE=1

# Hardening.
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-pie,+fortify

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

# Multiarch.
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

.PHONY: override_dh_auto_configure	\
	override_dh_auto_build		\
	override_dh_install		\
	override_dh_strip		\
	override_dh_auto_test

# Cannot build against player, disable it for now.
override_dh_auto_configure:
	dh_auto_configure -- -DLIB_INSTALL_DIR=lib/${DEB_HOST_MULTIARCH} \
	-Dfreeimage_include_dir=/usr/include -Dfreeimage_library_dir=/usr/lib \
	-DINCLUDE_PLAYER=OFF

override_dh_auto_build:
	dh_auto_build -- # Compile the software.
	dh_auto_build -- doc # Generate Doxygen HTML documentation.

override_dh_install:
	dh_install -- # Install.

	# Remove unwanted shell extension.
	mv debian/gazebo/usr/bin/gzmodel_create.sh \
	   debian/gazebo/usr/bin/gzmodel_create

	# Get rid of fonts already packaged elsewhere.
	tmp=`ls debian/gazebo-common/usr/share/gazebo-*/media/gui/fonts/DejaVuSans.ttf` \
	&& rm $$tmp \
	&& ln -s /usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf $$tmp


override_dh_strip:
	dh_strip -a --dbg-package=gazebo-dbg

override_dh_auto_test:

%:
	dh $@ --parallel
